
/* Main menu */

.modmenu
{
	width: 100%;
	margin: 0;
	padding: 0 0 0 0;
	list-style: none;  

}

.modmenu li
{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
	line-height: 0;
}

.modmenu a 
{
	float: left;
	height: 51px;
	padding: 0 15px;
	padding-top:13px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
	color:white;
	border-right: 1px solid #03344c;
	
}
.modmenu ul a
{
	border:none;
}
	
.modmenu li:hover > a
{
	color: #03344c;
	font-weight:bold;
	background:red;
	box-shadow: -10px 10px 10px black;
	
	 -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:.7s;
  background: url('../images/abcef.png');
	
}

*html .modmenu li a:hover /* IE6 */
{
	color: #fafafa;
	background-color:#43748f;
}

.modmenu li:hover > ul
{
	display: block;
}

/* Sub-menu */

.modmenu ul
{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 999999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#03344c, #43748f);
    background: url('../images/submenubar.png');
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: -5px 5px 10px #03344c;	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.modmenu ul ul
{
  top: 0;
  left: 150px;
}

.modmenu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    height:35px;
}

.modmenu ul li:last-child
{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

.modmenu ul a
{    
    padding: 12px;
	height: 10px;
	width: 164px;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}

*html .modmenu ul a /* IE6 */
{    
	height: 10px;
}

*:first-child+html .modmenu ul a /* IE7 */
{    
	height: 10px;
}

.modmenu ul a:hover
{
    background: #0186ba;
    color:white;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

.modmenu ul li:first-child > a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.modmenu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

.modmenu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}

.modmenu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec; 
}

.modmenu ul ul li:first-child a:hover:after
{
    border-right-color: #04acec; 
    border-bottom-color: transparent; 	
}


.modmenu ul li:last-child > a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
.modmenu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .modmenu             { zoom: 1; } /* IE6 */
*:first-child+html .modmenu { zoom: 1; } /* IE7 */
