.blue
{
	color:#1F99CC;
}
.strongtagstyle
{
	color:#3E7296;
	font-size:11px;
}
h1
{
	color:#3E7296;
}
.txtbox
{
	
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    
}
.rightcurve
{
	
}