<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

   <display-name>Telecom Store Inventory</display-name>
    <description>
        Telecom Store Inventory
    </description>
	<welcome-file-list>
        <welcome-file>MyIndex.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
    	<display-name>Logon</display-name>
    	<servlet-name>Logon</servlet-name>
    	<servlet-class>
    	com.telecom.servlets.Logon</servlet-class>
    </servlet>
    <servlet>
    	<display-name>ValidateLogin</display-name>
    	<servlet-name>ValidateLogin</servlet-name>
    	<servlet-class>
    	com.telecom.servlets.ValidateLogin</servlet-class>
    	<init-param>
   			<param-name>userName</param-name>
   			<param-value>admin</param-value>
   		</init-param>
   		 <init-param>
   			<param-name>password</param-name>
   			<param-value>password0</param-value>
   		</init-param>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Logoff</display-name>
    	<servlet-name>Logoff</servlet-name>
    	<servlet-class>
    	com.telecom.servlets.Logoff</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>AdminServlet</display-name>
    	<servlet-name>AdminServlet</servlet-name>
    	<servlet-class>
    	com.telecom.servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>IMServlet</display-name>
    	<servlet-name>IMServlet</servlet-name>
    	<servlet-class>
    	com.telecom.servlets.IMServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>RetailerServlet</display-name>
    	<servlet-name>RetailerServlet</servlet-name>
    	<servlet-class>com.telecom.servlets.RetailerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logon</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ValidateLogin</servlet-name>
    	<url-pattern>/validateLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Logoff</servlet-name>
    	<url-pattern>/Logoff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminServlet</servlet-name>
    	<url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
    	<servlet-name>IMServlet</servlet-name>
    	<url-pattern>/IMServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
     	<servlet-name>RetailerServlet</servlet-name>
     	<url-pattern>/RetailerServlet</url-pattern>
     </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
	</session-config>
</web-app>
